<button type="button" class="btn text-primary m-0 p-0" (click)="openModal(template)">Mais informações</button>
 
<ng-template #template >
  <div class="modal-header">
    <h4 class="modal-title pull-left">Mais informações</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <ng-content></ng-content>
  </div>
 
</ng-template>
